


@keyframes bgAnim {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(0);
    }
}



@keyframes afterBgAnimEnd {
    to {
        background: var(--bg-color);
    }
}



@keyframes introAnim {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}


@keyframes revIntroAnim {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}


@keyframes openAntherPage {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
        transform: translateY(-100%);
    }
    10.1%{
        opacity: 1;
    }
    100%{
            transform: translateY(0);
    }

}


@keyframes borderAnim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes imgOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

