@media (max-width: 1200px) {
    .intro .row .btn-like {
        display: flex;
        justify-content: space-around;
        flex-direction: column !important;
    }

    .btn-like ul {
        margin-top: 20px;
    }
}


@media (max-width: 570px) {


    .navbar .navbar-toggler {
        padding: 8px 10px;
        font-size: 10px;
        border: none;
    }

    .navbar .navbar-toggler[aria-expanded="true"] {
        border: 1px solid var(--text-color);

    }

    .intro .dis p {
        font-size: 15px !important;
    }

    .intro .dis h1 {
        font-size: 40px !important;
    }

    .intro .dis .mian-btn {
        font-size: 15px !important;
    }

    .btn-like ul li {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .intro .border-img {
        width: 250px !important;
        height: 250px !important;
    }

}


@media (max-width: 768px) {
    .intro .exper div {
        margin-top: 15px;
    }

    .intro .img-holder {
        order: -1;
    }

    .intro .border-img {
        width: 300px;
        height: 300px;
    }
}