* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

:root {
    --bg-color: #1d1c22;
    --text-color: #00f594;
    --text-light: #fff;
}

.flexing {
    display: flex;
    align-items: center;
}


.bordring {
    border: 1px solid red;
}



.coloring-text {
    color: var(--text-color) !important;
}

body,
html {
    width: 100%;
    background: var(--bg-color);
}


.bg-anim {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.bg-anim div {
    height: 100%;
    background: var(--bg-color);
    transform: translateY(-100%);
    animation: bgAnim .8s linear forwards;
    animation-delay: calc(var(--t)*0.2s);

}


.navbar {
    margin: auto;
    background: var(--bg-color);
    z-index: 1;
}

.navbar .nav-link {
    color: var(--text-light);
    transition: 0.5s;
}

.navbar .active {
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: var(--text-color);
}


.navbar .main-btn:focus {
    box-shadow: none;

}

.navbar .main-btn {
    background: var(--text-color) !important;
    border: none !important;

}

.navbar .navbar-toggler {
    border: 1px solid var(--text-color);
    box-shadow: none;

}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}


/*                 ////////////////////////////////                      */

.intro {
    background: transparent;
    z-index: 5;
    position: relative;
    animation: afterBgAnimEnd 0.1s linear forwards;
    animation-delay: 1.6s;

}

.name {
    font-size: 60px;
}

.mian-btn {
    background: transparent !important;
    border: 1px solid var(--text-color) !important;
    color: var(--text-color) !important;

}

.dis p {
    transform: translateY(-20px);
    opacity: 0;
    animation: introAnim 1s ease-out forwards;
    animation-delay: 2.3s;


}

.dis h1 {
    transform: translateY(-20px);
    opacity: 0;
    animation: introAnim 1s ease-out forwards;
    animation-delay: 2s;
}


.btn-like {
    transform: translateY(20px);
    opacity: 0;
    animation: revIntroAnim 1s ease-out forwards;
    animation-delay: 2s;
}

.btn-like ul li {
    border: 1px solid var(--text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}

li svg {
    color: var(--text-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(20px);
    opacity: 0;
    animation: revIntroAnim 1s ease-out forwards;
    animation-delay: 2s;

}

.intro .border-img  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 440px;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17)0px -18px 25px 15px inset,
    rgba(0, 0, 0, 0.17)0px 18px 20px 18px inset;
}

.intro .border-img::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid var(--text-color);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 50%;
    animation: borderAnim 10s linear infinite;
}


.intro .border-img img {
    max-width: 80%;
    filter: drop-shadow(2px 8px 15px #00f5937b);
}



.exper div span {
    font-size: 60px !important;
}

.exper div {
    width: 300px !important;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.486);
    transform: translateY(20px);
    opacity: 0;
    animation: revIntroAnim 1s ease-out forwards;
    animation-delay: var(--t);
}

.services-content{
    display: none;
    background: var(--bg-color);
    position: relative;
    z-index: 5;

}